<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>酒店预订系统</title>
    <style type="text/css">
        body{overflow: hidden;}
        body,.root,.ant-layout{height:100%;}
        .text-right{text-align:right;}.text-center{text-align:center;}
        .fb{font-weight:bold;}
        .box20{height:20px;}
        .pull-left{float:left;}.pull-right{float:right;}
        .ant-row .gutter-row{min-height: 36px;}
        .avatar-uploader .ant-upload-list-picture-card .ant-upload-list-item{width: 220px;height: 220px;}
        .ant-upload-list-picture-card .ant-upload-list-item-info:before{left: 0;}
        .avatar-uploader .ant-upload-select-picture-card{width: 220px;height: 220px;}
    </style>
    <body>
        <div class="root" id="root"></div>
    </body>
</html>

