.header{
    padding-left: 10px;
}
.logo {
    width: 180px;
    height: 38px;
    float: left;
    margin: 12px 34px 0 0;
    background: url(../assets/logo.png) no-repeat center 0;
}
.logo img {
    width: 100%;
}
.menu{
    font-size: 14px;
}
.content{
    background: #fff;
    padding: 24px;
    margin: 0px;
    min-height: 100%;
    overflow: auto;
}
.out{ position: absolute; right: 35px; top: 0; color: #fff; }


